head{
    margin: 0;
}
body{
    margin: 0;
    background-color: white;
}
.main{
    text-align:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px 620px 30px 30px;
    margin: 0;
    width: 720px;
}
.main h1{
    text-transform: uppercase;
    color: black;
    word-spacing: 7px;
    padding: 0px 0px 25px 0px;
    border-bottom: 1px solid black;
    display: flex;
    margin: 0;
}
.main form{
    width: 750px;

}
.name form input{
    background-color: rgb(66, 63, 63);
    border-radius: 8px;
    font-size: 20px;
    width: 338px;
    margin: 0px 20px 0px 0px;
}
.subject form input{
    background-color: rgb(66, 63, 63);
    border-radius: 8px;
    font-size: 20px;
    width: 709px;
    margin: 20px 0px 20px 0px;
}
.message form input{
    background-color: rgb(66, 63, 63);
    border-radius: 8px;
    font-size: 200px;
    width: 709px;
    margin: 0px 0px 20px 0px;
}
.main button{
    background-color: rgb(14, 161, 14);
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    width: 338px;
    margin: 0px 0px 0px 212px;
}
.main p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}















